/* ==========================================================================
    CBTS supplemental syles (CW/spoiler text, sensitive media)
   ========================================================================== */

.expanding-wrapper {
  max-height: 800px;
  width: 100%;
  left: 0px;
}

textarea {
  margin: 0px;
  box-sizing: border-box;
  max-height: 800px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  resize: none;
  overflow: auto;
}

details .btn-cut > span::before {
  display: block;
  content: "Show more";
}

details[open] .btn-cut > span::before {
  display: block;
  content: "Show less";
}

.spoiler_text {
  display: block;
}

#status-media.sensitive.hidden, #reply-media.sensitive.hidden {
  visibility:hidden;
}

#media-spoiler, #reply-media-spoiler {
  background: #000;
  border: 0;
  display: none;
  width: 50%;
  height: 18em;
}

#media-spoiler__trigger, #media-spoiler__warning,
#reply-media-spoiler__trigger, #reply-media-spoiler__warning {
  color: #9baec8;
  display: block;
}

#status-media.sensitive.hidden:not(:empty) + #media-spoiler,
#reply-media.sensitive.hidden:not(:empty) + #reply-media-spoiler {
  display: block;
}

#status-media.sensitive > .svg-media,
#reply-media.sensitive > .svg-media {
  cursor: pointer;
}

#status-media.sensitive > .svg-media:first-child::before,
#reply-media.sensitive > .svg-media:first-child::before {
  left: 4rem;
  width: 4rem;
  height: 4rem;
  position: absolute;
  opacity: 0.4;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  content: "🙈";
  transition: all .5s ease-in-out;
}

#status-media.sensitive > .svg-media:hover::before,
#reply-media.sensitive > .svg-media:hover::before {
  opacity: 1;
}

/* ==========================================================================
   Author's custom styles (CBDQ)
   ========================================================================== */

body, html
{
    background-color: #fff8f4;
}
.cursive
{

font-family: 'Yesteryear', cursive;
color:#ff6600;
}




.username
{
padding: 15px;
}
.username:hover
{
    text-decoration: none;
}


.username-text
{
    font-weight: bold;
  margin-left:10px;
  font-size: 18px;
line-height: 20px;

  margin-top: 15px;
  margin-bottom: 15px;
}

.size32 {
    width: 32px;
    height: 32px;
    border-radius: 4px;
}


.btn-post
{
    color: #fff;
    background-color: #55ACEE;
    min-width: 50px;
}

.pad-left
{
    margin-left: 5px;
    margin-top: 2.5px;
}

.header
{
    margin-top:40px;
    font-size:5em;
}

.too-long
{
    color: #FF4136;
    background-color: #E2E2E2;
}

.svg-media
{
    max-width: 500px;
    max-height: 500px;
}

sourcetext
{
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    overflow: scroll;
}

.form-group
{
  padding-bottom:10px;
}

.parsererror h3
{
  font-size: 100%;
  margin-top: 0px;
  margin-bottom: 0px;

  font-weight: normal;
  line-height: 1;
  color: #ffffff;
}

table.admintable>thead>tr>th, .table.admintable>thead>tr>th, table.admintable>tbody>tr>th, .table.admintable>tbody>tr>th, table.admintable>tfoot>tr>th, .table>tfoot>tr>th, table>thead>tr>td, .table>thead>tr>td, table>tbody>tr>td, .table>tbody>tr>td, table>tfoot>tr>td, .table>tfoot>tr>td
{
  border: 1px black solid;
  border-color: black;
  border-collapse: separate;
  padding: 3px;
}


