<?php

define('DB_PASSWORD', "");
define('NODE_PATH', "/usr/bin/env node");
define('SENDSTATUS_PATH', "/opt/cbts/send_status/send_status.js");
define("ADMIN_USER_ID", "https://your.instance/@youracct");
define("TRACERYHOSTING_ROOT", "cheapbotstootsweet.com");
?>
